<nav class="navbar navbar-expand-lg navbar-{{ theme.brightness }} bg-{{ theme.color }}">
    <span class="navbar-brand">
        Startsymfonies
        <small class="text-warning">
            <a href="{{ util_service.urlGitHub }}" target="_blank" class="badge badge-secondary">{{ util_service.localVersionNumber }}</a>

			{% if updateAvailable %}
				<a href="{{ util_service.urlGitHub }}" target="_blank" class="badge badge-orange badgeUpdate">Update available</a>
			{% endif %}
        </small>
    </span>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			{#<li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Home">#}
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_default_index') }}">
					<i class="fas fa-home" style="width: 25px;"></i>
					<span class="d-none d-xll-inline">
						Home
					</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_default_settings') }}">
					<i class="fas fa-cogs" style="width: 25px;"></i>
					<span class="d-none d-xll-inline">
						Settings
					</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link swalContinue bg-info text-light rounded-left text-center" href="{{ path('scan') }}">
					<i class="fas fa-search-plus" style="width: 25px;"></i>
					<span class="d-none d-xll-inline">
						Launch scan
					</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link swalContinue bg-success text-light text-center" href="{{ path('start_all') }}">
					<i class="fas fa-play" style="width: 25px;"></i>
					<span class="d-none d-xll-inline">
						Start actives
					</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link swalContinue bg-warning text-dark text-center" href="{{ path('stop_all') }}">
					<i class="fas fa-stop" style="width: 25px;"></i>
					<span class="d-none d-xll-inline">
						Stop all
					</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link swalContinue bg-danger text-light text-center" href="{{ path('delete_all') }}">
					<i class="far fa-trash-alt" style="width: 25px;"></i>
					<span class="d-none d-xll-inline">
						Delete all
					</span>
				</a>
			</li>

			{% if symfony_executable is not empty %}
				<li class="nav-item">
					<a class="nav-link bg-primary text-light text-center" href="#" data-toggle="modal" data-target="#newSymfonyModal">
						<i class="fas fa-plus" style="width: 25px;"></i>
						<span class="d-none d-xll-inline">
							New Symfony
						</span>
					</a>
				</li>
			{% endif %}

			{% if updateAvailable and util_service.gitExecutable is not null %}
				<li class="nav-item">
					<a class="nav-link bg-warning badgeUpdate text-danger rounded-right text-center" href="{{ path('update_startsymfonies2') }}">
						<i class="fas fa-cloud-download-alt" style="width: 25px;"></i>
						<b class="d-none d-xll-inline">
							Update now
						</b>
					</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link bg-secondary text-light rounded-right text-center" href="{{ path('recheck_version') }}">
						<i class="fas fa-cloud-download-alt" style="width: 25px;"></i>
						<span class="d-none d-xll-inline">
							Check updates
						</span>
					</a>
				</li>
			{% endif %}

			{% set usefulLink = util_service.usefulLinks %}
			{% if usefulLink is not empty %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-link" style="width: 25px;"></i>
						<span class="d-none d-xll-inline">
							Useful links
						</span>
					</a>
					<div class="dropdown-menu bg-{{ theme.body == 'dark' ? 'dark' : 'light' }}" aria-labelledby="navbarDropdown">
						{% for link in usefulLink %}
							{% if link == 'DIVIDER' %}
								<div class="dropdown-divider"></div>
							{% else %}
								<a class="dropdown-item text-{{ theme.body == 'dark' ? 'light' : 'dark' }}" href="{{ link.url }}" target="_blank"><img src="{{ link.icon }}" alt="" width="16"> {{ link.label }}</a>
							{% endif %}
						{% endfor %}
					</div>
				</li>
			{% endif %}
		</ul>

		{% if app.request.get('_route') == 'app_default_index' %}
			<form class="form-inline my-2 my-lg-0">
				<div class="input-group">
					<input type="search" class="form-control" id="search" placeholder="Search" aria-label="Search">
					<div class="input-group-append">
						<div class="input-group-text">
							<a href="#" class="input-group-addon fa fa-times text-muted" id="clearSearch"></a>
						</div>
					</div>
				</div>

				<div class="custom-control custom-checkbox navbar-text ml-2 bg-light text-dark rounded border border-secondary">
					<input id="flgHideStopped" type="checkbox" class="custom-control-input" {{ symfonies_service.actives|length > 0 ? ' checked' : '' }}>
					<label style="cursor: pointer;" class="custom-control-label mx-2" for="flgHideStopped">Hide stopped</label>
				</div>
			</form>
		{% endif %}
	</div>
</nav>