<nav class="navbar navbar-expand-lg navbar-{{ theme.brightness }} bg-{{ theme.color }}">
    <span class="navbar-brand">
        Startsymfonies
        <small class="text-warning">
            <a href="{{ util_service.urlGitHub }}" target="_blank" class="badge badge-secondary">{{ util_service.localVersionNumber }}</a>

			{% if updateAvailable %}
				<a href="{{ util_service.urlGitHub }}" target="_blank" class="badge badge-orange badgeUpdate">Update available</a>
			{% endif %}
        </small>
    </span>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_default_index') }}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_default_settings') }}">Settings</a>
			</li>
			<li class="nav-item">
				<a class="nav-link swalContinue bg-info text-light" href="{{ path('scan') }}">
					<i class="fas fa-search-plus"></i>
					Launch scan
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link swalContinue bg-success text-light" href="{{ path('start_all') }}">
					<i class="fas fa-play"></i>
					Start actives
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link swalContinue bg-warning text-dark" href="{{ path('stop_all') }}">
					<i class="fas fa-stop"></i>
					Stop all
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link swalContinue bg-danger text-light" href="{{ path('delete_all') }}">
					<i class="far fa-trash-alt"></i>
					Delete all
				</a>
			</li>

			{% if symfony_executable is not empty %}
				<li class="nav-item">
					<a class="nav-link bg-primary text-light" href="#" data-toggle="modal" data-target="#newSymfonyModal">
						<i class="fas fa-plus"></i>
						New Symfony
					</a>
				</li>
			{% endif %}

			{% if updateAvailable and util_service.gitExecutable is not null %}
				<li class="nav-item">
					<a class="nav-link bg-warning badgeUpdate text-danger" href="{{ path('update_startsymfonies2') }}">
						<i class="fas fa-cloud-download-alt"></i>
						<b>Update now</b>
					</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link bg-secondary text-light" href="{{ path('recheck_version') }}">
						<i class="fas fa-cloud-download-alt"></i>
						Check updates
					</a>
				</li>
			{% endif %}

			{% set usefulLink = util_service.usefulLinks %}
			{% if usefulLink is not empty %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Useful links
					</a>
					<div class="dropdown-menu bg-{{ theme.body == 'dark' ? 'dark' : 'light' }}" aria-labelledby="navbarDropdown">
						{% for link in usefulLink %}
							{% if link == 'DIVIDER' %}
								<div class="dropdown-divider"></div>
							{% else %}
								<a class="dropdown-item text-{{ theme.body == 'dark' ? 'light' : 'dark' }}" href="{{ link.url }}" target="_blank"><img src="{{ link.icon }}" alt="" width="16"> {{ link.label }}</a>
							{% endif %}
						{% endfor %}
					</div>
				</li>
			{% endif %}
		</ul>

		{% if app.request.get('_route') == 'app_default_index' %}
			<form class="form-inline my-2 my-lg-0">
				<div class="input-group">
					<input type="search" class="form-control" id="search" placeholder="Search" aria-label="Search">
					<div class="input-group-append">
						<div class="input-group-text">
							<a href="#" class="input-group-addon fa fa-times text-muted" id="clearSearch"></a>
						</div>
					</div>
				</div>

				<div class="form-check" style="margin-left: 10px;">
					<label class="form-check-label navbar-text" id="chkHideStopped">
						<input id="flgHideStopped" type="checkbox" class="form-check-input" {{ symfonies_service.actives|length > 0 ? ' checked' : '' }}>
						Hide stopped
					</label>
				</div>
			</form>
		{% endif %}
	</div>
</nav>