<nav class="navbar navbar-expand-lg navbar-{{ theme.brightness }} bg-{{ theme.color }}">
    <span class="navbar-brand">
        Startsymfonies
        <small class="text-warning">
            <a href="{{ util_service.urlGitHub }}" target="_blank" class="badge badge-secondary">{{ util_service.localVersionNumber }}</a>

			{% if updateAvailable %}
				<a href="{{ util_service.urlGitHub }}" target="_blank" class="badge badge-orange badgeUpdate">Update available</a>
			{% endif %}
        </small>
    </span>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			{#<li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Home">#}
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_default_index') }}">
					<i class="fas fa-home"></i>
					{#<span class="d-none d-xll-inline">#}
						{#Home#}
					{#</span>#}
					Home
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_default_systeminfo') }}">
					<i class="fas fa-info-circle"></i>
					{#<span class="d-none d-xll-inline">#}
						{#System info#}
					{#</span>#}
					System info
				</a>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-wrench"></i>
					{#<span class="d-none d-xll-inline">#}
						{#Manage#}
					{#</span>#}
					Manage
				</a>
				<div class="dropdown-menu bg-{{ theme.body == 'dark' ? 'dark' : 'light' }}" aria-labelledby="navbarDropdown">
					<a class="swalContinue dropdown-item text-{{ theme.body == 'dark' ? 'light' : 'dark' }}" href="{{ path('scan') }}">
						<i class="fas fa-search-plus text-info mr-2"></i>
						Launch scan
					</a>
					<a class="swalContinue dropdown-item text-{{ theme.body == 'dark' ? 'light' : 'dark' }}" href="{{ path('prune') }}">
						<i class="fas fa-search-minus text-danger mr-2"></i>
						System prune
					</a>
					<a class="swalContinue dropdown-item text-{{ theme.body == 'dark' ? 'light' : 'dark' }}" href="{{ path('start_all') }}">
						<i class="fas fa-play text-success mr-2"></i>
						Start all symfonies with ip and port
					</a>
					<a class="swalContinue dropdown-item text-{{ theme.body == 'dark' ? 'light' : 'dark' }}" href="{{ path('stop_all') }}">
						<i class="fas fa-stop text-warning mr-2"></i>
						Stop all
					</a>
					<a class="swalContinue dropdown-item text-{{ theme.body == 'dark' ? 'light' : 'dark' }}" href="{{ path('delete_all') }}">
						<i class="far fa-trash-alt text-danger mr-2"></i>
						Delete all
					</a>

					{% if symfony_executable is not empty %}
						<a class="dropdown-item text-{{ theme.body == 'dark' ? 'light' : 'dark' }}" href="#" data-toggle="modal" data-target="#newSymfonyModal">
							<i class="fas fa-plus text-primary mr-2"></i>
							New Symfony
						</a>
					{% endif %}

					{% if updateAvailable and util_service.gitExecutable is not null %}
						<a class="dropdown-item text-{{ theme.body == 'dark' ? 'light' : 'dark' }}" href="{{ path('update_startsymfonies2') }}">
							<i class="fas fa-cloud-download-alt text-secondary mr-2"></i>
							Update now
						</a>
					{% else %}
						<a class="dropdown-item text-{{ theme.body == 'dark' ? 'light' : 'dark' }}" href="{{ path('recheck_version') }}">
							<i class="fas fa-cloud-download-alt text-secondary mr-2"></i>
							Check updates
						</a>
					{% endif %}
				</div>
			</li>

			{% set usefulLink = util_service.usefulLinks %}
			{% if usefulLink is not empty %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-link"></i>
						{#<span class="d-none d-xll-inline">#}
							{#Useful links#}
						{#</span>#}
						Useful links
					</a>
					<div class="dropdown-menu bg-{{ theme.body == 'dark' ? 'dark' : 'light' }}" aria-labelledby="navbarDropdown">
						{% for link in usefulLink %}
							{% if link == 'DIVIDER' %}
								<div class="dropdown-divider"></div>
							{% else %}
								<a class="dropdown-item text-{{ theme.body == 'dark' ? 'light' : 'dark' }}" href="{{ link.url }}" target="_blank"><img src="{{ link.icon }}" alt="" width="16"> {{ link.label }}</a>
							{% endif %}
						{% endfor %}
					</div>
				</li>
			{% endif %}
		</ul>

		{% if app.request.get('_route') == 'app_default_index' %}
			<form class="form-inline my-2 my-lg-0">
				<div class="input-group">
					<input type="search" class="form-control" id="search" placeholder="Search" aria-label="Search">
					<div class="input-group-append">
						<div class="input-group-text">
							<a href="#" class="input-group-addon fa fa-times text-muted" id="clearSearch"></a>
						</div>
					</div>
				</div>

				<div class="custom-control custom-checkbox navbar-text ml-2 bg-light text-dark rounded border border-secondary">
					<input id="flgHideStopped" type="checkbox" class="custom-control-input" {{ symfonies_service.actives|length > 0 ? ' checked' : '' }}>
					<label style="cursor: pointer;" class="custom-control-label mx-2" for="flgHideStopped">Hide stopped</label>
				</div>
			</form>
		{% endif %}
	</div>
</nav>