{% set theme = util_service.theme %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <title>Startsymfonies 2</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/app/styles/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ asset('bundles/app/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/styles/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/styles/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/styles/animate.css') }}">

	{% block stylesheets %}{% endblock %}
</head>
<body{{ theme.body == 'dark' ? ' class="bg-dark"' }}>

{% include '@App/templates/navbar.html.twig' %}

<div class="{% block containerClass %}container-fluid{% endblock %}">
	{% block body %}{% endblock %}

	{#{% include '@App/templates/footer.html.twig' %}#}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ asset('bundles/app/scripts/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('bundles/app/scripts/popper.min.js') }}"></script>
<script src="{{ asset('bundles/app/scripts/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/app/scripts/sweetalert.min.js') }}"></script>
<script src="{{ asset('bundles/app/scripts/toastr.min.js') }}"></script>
<script src="{{ asset('bundles/app/scripts/jquery-ui.min.js') }}"></script>

<script>
	{% include '@App/templates/flashes.js.twig' %}
</script>

{% block javascripts %}{% endblock %}
</body>
</html>