{% extends '::base.html.twig' %}

{% block body %}
	<table class="table table-hover table-sm table-bordered tableVertAlignMiddle">
		<thead>
		<tr>
			<th class="text-center">Starred</th>
			<th class="text-center">Favicon</th>
			<th>Path</th>
			<th class="text-center">Version</th>
			<th>Links</th>
			<th>Operations</th>
		</tr>
		</thead>
		<tbody>
		{% for symfony in symfonies %}
			{% set faviconUrl = symfony.faviconUrl %}

			<tr style="display: none;">
				<td class="text-center">
					<a href="#" data-id="{{ symfony.id }}" class="fa fa-star{{ symfony.starred ? ' text-warning' : '-o text-secondary' }} starControl" aria-hidden="true"></a>
				</td>
				<td class="text-center">
					{% if symfony.ip and symfony.port and faviconUrl %}
						<img src="{{ faviconUrl }}" alt="" width="16">
					{% else %}
						<span class="text-muted">--</span>
					{% endif %}
				</td>
				<td class="selectAll">
					{{ symfony.path }}
				</td>
				<td class="text-center">
					<span class="badge badge-info badge-symfony-version-{{ symfony.ok ? symfony.version(true) : 'error' }}">
						{{ symfony.version }}
					</span>
				</td>
				<td class="colLink">
					{% if symfony.ok %}
						{% if symfony.ip and symfony.port %}
							<ul class="list-unstyled" style="margin: 0;">
								{% set symfonyLinks = symfonies_service.links(symfony) %}
								{% for key, links in symfonyLinks %}
									{% for link in links %}
										{% if key == 'link' and symfonyLinks.aliases|length > 0 %}
											<li><a class="text-muted" href="{{ link }}" target="_blank"><small>{{ link }}</small></a></li>
										{% else %}
											<li><a class="text-{{ theme.brightness != 'light' ? theme.color : 'dark' }}" href="{{ link }}" target="_blank">{{ link }}</a></li>
										{% endif %}
									{% endfor %}
								{% endfor %}
							</ul>

							{% if not faviconUrl %}
								<span class="d-none">Stopped</span>
							{% endif %}
						{% else %}
							<span class="text-muted">--</span>
							<span class="d-none">Stopped</span>
						{% endif %}
					{% else %}
						<span class="text-danger">Error</span>
						<span class="d-none">Stopped</span>
					{% endif %}
				</td>
				<td>
					{% if symfony.ok %}
						<div class="btn-group" role="group" aria-label="Basic example">
							{% if not faviconUrl %}
								<a href="#" class="btn btn-light fa fa-play text-success ajaxAction" aria-hidden="true" title="Start" data-toggle="modal" data-target="#modalSymfony{{ symfony.id }}"></a>
							{% else %}
								<a href="{{ path('restart', {'symfony': symfony.id}) }}" class="btn btn-light fa fa-repeat text-primary" aria-hidden="true" title="Restart"></a>
								<a href="{{ path('stop', {'symfony': symfony.id}) }}" class="btn btn-light fa fa-stop text-dark swalContinue" aria-hidden="true" title="Stop"></a>
								<a href="#" class="btn btn-light fa fa-pencil text-info ajaxAction" aria-hidden="true" title="Edit" data-toggle="modal" data-target="#modalSymfony{{ symfony.id }}"></a>
							{% endif %}

							<a href="{{ path('cache_assets_reset', {'symfony': symfony.id}) }}" class="btn btn-light fa fa-refresh text-secondary swalContinue" aria-hidden="true" title="Cache & assets reset"></a>
							<a href="{{ path('delete-info', {'symfony': symfony.id}) }}" class="btn btn-light fa fa-times text-danger swalContinue" aria-hidden="true" title="Delete info"></a>

							<div class="btn-group" role="group">
								<button id="btnGroupOperations" type="button" class="btn btn-light dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Composer actions
								</button>
								<div class="dropdown-menu" aria-labelledby="btnGroupOperations">
									<a class="dropdown-item composerShow" href="#" data-symfonyid="{{ symfony.id }}" data-toggle="modal" data-target="#modalComposerShow{{ symfony.id }}">Composer show</a>
									<a class="dropdown-item swalContinue" href="{{ path('composer', {'activity': 'install', 'symfony': symfony.id}) }}">Composer install</a>
									<a class="dropdown-item swalContinue" href="{{ path('composer', {'activity': 'update', 'symfony': symfony.id}) }}">Composer update</a>
									<a class="dropdown-item swalContinue text-danger" href="{{ path('delete', {'symfony': symfony.id}) }}">Delete</a>
								</div>
							</div>
						</div>

						{% include '@App/templates/modal-start.html.twig' %}

						{% include '@App/templates/composer-show.html.twig' %}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block stylesheets %}
	<style>
		.tableVertAlignMiddle th, .tableVertAlignMiddle td{
			vertical-align: middle;
		}
	</style>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/app/scripts/index.js') }}"></script>
	<script src="{{ asset('bundles/app/scripts/selectAll.js') }}"></script>
	<script src="{{ asset('bundles/app/scripts/search.js') }}"></script>
	<script src="{{ asset('bundles/app/scripts/composerShow.js') }}"></script>
{% endblock %}
