{% extends '::base.html.twig' %}

{% block body %}
	<table class="table table-hover table-sm table-bordered tableVertAlignMiddle">
		<thead>
		<tr>
			<th class="text-center">Starred</th>
			<th class="text-center">Favicon</th>
			<th>Path</th>
			<th class="text-center">Version</th>
			<th>Link</th>
			<th>Operations</th>
		</tr>
		</thead>
		<tbody>
		{% for symfony in symfonies %}
			<tr style="display: none;">
				<td class="text-center">
					<a href="#" data-id="{{ symfony.id }}" class="fa fa-star{{ symfony.starred ? ' text-warning' : '-o' }} starControl" aria-hidden="true"></a>
				</td>
				<td class="text-center">
					{% if symfony.ip and symfony.port %}
						<img src="http://{{ symfony.ip }}:{{ symfony.port }}/favicon.ico" alt="" width="16">
					{% else %}
						--
					{% endif %}
				</td>
				<td>
					{{ symfony.path }}
				</td>
				<td class="text-center">
					{{ symfony.version }}
				</td>
				<td class="colLink">
					{% if symfony.ip and symfony.port %}
						<ul class="list-unstyled" style="margin: 0;">
							{% set symfonyLinks = symfonies_service.links(symfony) %}
							{% for key, links in symfonyLinks %}
								{% for link in links %}
									{% if key == 'link' and symfonyLinks.aliases|length > 0 %}
										<li><a class="text-muted" href="{{ link }}" target="_blank"><small>{{ link }}</small></a></li>
									{% else %}
										<li><a href="{{ link }}" target="_blank">{{ link }}</a></li>
									{% endif %}
								{% endfor %}
							{% endfor %}
						</ul>
					{% else %}
						<span class="text-danger">Stopped</span>
					{% endif %}
				</td>
				<td>
					{% if symfony.ip and symfony.port %}
						<a href="{{ path('stop', {'symfony': symfony.id}) }}" class="btn btn-warning btn-sm swalContinue">Stop</a>
						<a href="{{ path('restart', {'symfony': symfony.id}) }}" class="btn btn-success btn-sm swalContinue">Restart</a>
					{% else %}
						<a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalSymfony{{ symfony.id }}">Start</a>

						<div class="modal fade" id="modalSymfony{{ symfony.id }}" tabindex="-1" role="dialog" aria-labelledby="modalSymfony{{ symfony.id }}Label" aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="modalSymfony{{ symfony.id }}Label">{{ symfony.path }}</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<form action="{{ path('start', {'symfony': symfony.id}) }}" method="post">
										<div class="modal-body">
												<div class="form-group">
													<label for="ip{{ symfony.id }}">IP</label>
													<input type="text" class="form-control" id="ip{{ symfony.id }}" name="ip" placeholder="IP" value="{{ nextLocalIp }}" required>
													<a href="#" class="form-text text-info setDefaultVal" data-field="#ip{{ symfony.id }}" data-val="127.0.0.1">Set to 127.0.0.1</a>
												</div>
												<div class="form-group">
													<label for="port{{ symfony.id }}">Port</label>
													<input type="number" class="form-control" id="port{{ symfony.id }}" name="port" placeholder="Port" value="8000" required>
													<a href="#" class="form-text text-info setDefaultVal" data-field="#port{{ symfony.id }}" data-val="{{ nextLocalPort }}">Set to {{ nextLocalPort }}</a>
												</div>
												<div class="form-group">
													<label for="entry{{ symfony.id }}">Entry point</label>
													<input type="text" class="form-control" id="entry{{ symfony.id }}" name="entry" placeholder="Entry point">
												</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
											<button type="submit" class="btn btn-primary">Save changes</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					{% endif %}

					<a href="{{ path('cache_assets_reset', {'symfony': symfony.id}) }}" class="btn btn-dark btn-sm swalContinue">Cache & assets reset</a>
					<a href="{{ path('composer_install', {'symfony': symfony.id}) }}" class="btn btn-info btn-sm swalContinue">Composer install</a>

					<a href="{{ path('delete', {'symfony': symfony.id}) }}" class="btn btn-danger btn-sm swalContinue">Delete</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block stylesheets %}
	<style>
		.tableVertAlignMiddle th, .tableVertAlignMiddle td{
			vertical-align: middle;
		}
	</style>
{% endblock %}


{% block javascripts %}
	<script src="{{ asset('bundles/app/scripts/app.js') }}"></script>
{% endblock %}
