{% extends '::base.html.twig' %}

{% block containerClass %}
	container
{% endblock %}

{% block body %}
	<div class="bg-{{ theme.body == 'dark' ? 'dark' : 'light' }} text-{{ theme.body == 'dark' ? 'light' : 'dark' }} p-3 mt-3 border border-secondary rounded animated fadeIn">
		<h1 class="mb-3">Settings</h1>

		<dl class="row">
			<dt class="col-sm-3">Directories to scan</dt>
			<dd class="col-sm-9">
				<ol>
					{% if directoriesToScan is not empty %}
						{% for item in directoriesToScan|split(',') %}
							<li class="font-monospace">{{ item }}</li>
						{% endfor %}
					{% else %}
						--
					{% endif %}
				</ol>
			</dd>

			<dt class="col-sm-3">Php executable</dt>
			<dd class="col-sm-9 font-monospace">{{ phpExecutable ? phpExecutable : '--' }}</dd>

			<dt class="col-sm-3">Other php executables</dt>
			{% if otherPhpExecutables is not empty and otherPhpExecutables|split(',')|length > 1 %}
				<dd class="col-sm-9">
					<ol>
						{% for item in otherPhpExecutables|split(',') %}
							<li class="font-monospace">{{ item }}</li>
						{% endfor %}
					</ol>
				</dd>
			{% else %}
				<dd class="col-sm-9 font-monospace">{{ otherPhpExecutables ? otherPhpExecutables : '--' }}</dd>
			{% endif %}

			<dt class="col-sm-3">Git executable</dt>
			<dd class="col-sm-9 font-monospace">{{ gitExecutable ? gitExecutable : '--' }}</dd>

			<dt class="col-sm-3">Composer executable</dt>
			<dd class="col-sm-9 font-monospace">{{ composerExecutable ? composerExecutable : '--' }}</dd>

			<dt class="col-sm-3">Symfony executable</dt>
			<dd class="col-sm-9 font-monospace">{{ symfony_executable ? symfony_executable : '--' }}</dd>

			<dt class="col-sm-3">Check version</dt>
			<dd class="col-sm-9">
				<i class="fas fa-{{ checkVersion ? 'check text-success' : 'times text-muted' }}" aria-hidden="true"></i>
			</dd>

			<dt class="col-sm-3 text-truncate">Autoupdate</dt>
			<dd class="col-sm-9">
				<i class="fas fa-{{ autoupdate ? 'check text-success' : 'times text-muted' }}" aria-hidden="true"></i>
			</dd>

			<dt class="col-sm-3">Host file</dt>
			<dd class="col-sm-9 font-monospace">{{ hostsFile ? hostsFile : '--' }}</dd>

			<dt class="col-sm-3">Theme</dt>
			<dd class="col-sm-9 font-monospace">
				{{ themeSelected ? themeSelected : 'random' }}
				<p class="text-muted"><small><b>Possible values:</b> blue, white, black, red, yellow, cyan, green, gray, symfony, dark, random</small></p>
			</dd>
		</dl>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/app/scripts/index.js') }}"></script>
{% endblock %}
